{% extends 'gestion_lena/base.html' %}
{% load bootstrap3 %}

{% block google_maps %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script>
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var map;

        function initialize() {
            directionsDisplay = new google.maps.DirectionsRenderer();
            var mapOptions = {
                zoom: 10,
                center: new google.maps.LatLng(-38.7537189, -72.6097421)
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('directions_panel'));
        }

        function calcRoute() {
            selections = document.getElementsByClassName("checkbox");
            var index;
            var waypts = [];
            var start = 'Chillan, Chile';
            var end = 0;
            for (index = 0; index < selections.length; ++index) {
                if (selections[index].checked){
                    waypts.push({location: selections[index].value, stopover:true})
                }
            }
            //
            if (waypts.length > 0){
                end = waypts.pop().location;
            }

            if (waypts.length > 0){
                var request = {
                    origin: start,
                    destination: end,
                    waypoints: waypts,
                    optimizeWaypoints: true,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                directionsService.route(request, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        $('#id_kilometro').val(calTotalDistance(response).toFixed(2));
                        directionsDisplay.setDirections(response);
                    }
                });
            }else if(isNaN(end)){ // inicio fin
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.DRIVING
                };
                directionsService.route(request, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        $('#id_kilometro').val(calTotalDistance(response).toFixed(2));
                        directionsDisplay.setDirections(response);
                    }
                });
            }
            else{
                alert("Seleccione algunos pedidos!")
            }

        }

        function calTotalDistance(response){
            var totalDistance = 0;
            var legs = response.routes[0].legs;
            for(var i=0; i<legs.length; ++i) {
                totalDistance += legs[i].distance.value;
            }
            return totalDistance/1000;
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

{% endblock %}

{% block content %}

    <div class="page-header">
        <h1> Servicios Funerarios Pendientes <small> {% now "D d M Y" %} </small>  </h1>
    </div>
    <blockquote>
        <p class="alert alert-warning"> Seleccione los servicios que desea marcar como entregado.</p>
    </blockquote>

    <table id="tabla_adapted" class="table table-bordered table-striped">
        <caption> <p id="cantidad_seleccionados" class="label label-danger"> 0 servicios seleccionados de {{ pedidos|length }}  </p> </caption>
        <thead>
        <tr>
            <th> # </th>
            <th> Número  Pedido </th>
            <th> Contacto </th>
            <th> Tipo de Servicio </th>
            <th> Dirección Involucrada </th>
            <th> Fecha de Solicitud </th>
            <th> Entregado </th>
        </tr>
        </thead>
        <tbody>
        {% for x in pedidos %}
            <tr>
                <td>  <input type="checkbox" class="checkbox" value="{{ x.region }} {{ x.provincia }} {{ x.comuna }},  {{ x.direccion_destino }}"> </td>
                <td> {{ x.id }} </td>
                <td> {{ x.contacto }} </td>
                <td> <span class="label label-info">  {{ x.creado_en}} </span></td>
                <td> {{ x.region }} {{ x.provincia }} {{ x.comuna }},  {{ x.direccion_destino }}</td>
                <td> {{ x.creado_en }} </td>
                <td> <a href="{% url 'pedido_cambiar_estado' x.id %}?next={{ request.path }}" class="btn btn-warning"> <span class="glyphicon glyphicon-ok-sign"> Marcar </span> </a>     </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="page-header">
        <h1> Ruta </h1> <button onclick="calcRoute()"> Generar Ruta </button>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-6">
            <div id="map-canvas" style="width: 100%; height: 400px;"></div>
        </div>
        <div class="col-md-6" style="height: 400px; overflow-y: auto;">
            <div id="directions_panel" style="width: 100%; margin-left: 1em; height: 400px;"></div>
        </div>
    </div>

    <br>

   

   
{% endblock %}