{% extends 'gestion_lena/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}



{% block content %}

    <div class="page-header">
        <h1> Servicios Funerarios Pendientes de Pago <small> {% now "D d M Y" %} </small>  </h1>
    </div>
    <blockquote>
        <p class="alert alert-warning"> Seleccione los servicios que desea marcar como pagado.</p>
    </blockquote>

    <table id="tabla_adapted" class="table table-bordered table-striped">
         </p> </caption>
        <thead>
        <tr>
     
            <th> Número  Pedido </th>
            <th> Contacto </th>
            <th> Tipo de Servicio </th>
            <th> Dirección Involucrada </th>
            <th> Fecha de Solicitud </th>
            <th> Pagado </th>
        </tr>
        </thead>
        <tbody>
        {% for x in pedidos %}

            <tr>
             
                <td> <span class="label label-info"> {{ forloop.revcounter }} </span> </td>
                <td> {{ x.contacto }} </td>
                <td> <span class="label label-info">  {{ x.tipo_de_servicio}} </span></td>
                <td> {{ x.region }} {{ x.provincia }} {{ x.comuna }},  {{ x.direccion_destino }}</td>
                <td> {{ x.creado_en }} </td>
                <td>   <a href="#mimodal{{x.id}}" class="btn btn-warning" data-toggle="modal">
<span class="glyphicon glyphicon-ok-sign"> Marcar </span>  </a>  </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% for x in pedidos %}
      <div class="modal fade" id="mimodal{{x.id}}" role="dialog">
    <div class="modal-dialog modal-responsive">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
           <div align="center"> <img class="img-responsive" src="{% static 'gestion_lena/img/warning.png' %}"alt=""> </div>
          <h4 class="modal-title text-center">Confirmación de Pago! </h4>
        </div>
        <div class="modal-body">

           <h2>¿Está seguro de marcar como pagado el servicio <strong>{{x.tipo_de_servicio}}</strong> de: <strong>{{x.contacto}}</strong></h2>
           <div align="center"> <a href="{% url 'pedido_cambiar_estado' x.id %}?next={{ request.path }}" class="btn btn-warning"> <span class="glyphicon glyphicon-ok-sign"> Confirmar </span> </a> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

 {% endfor %}
    

   
{% endblock %}