{% extends 'gestion_lena/contacto_list.html' %}
{% load humanize %}

{% block title_page %}
    {{ contacto }}
{% endblock %}

{% block object_detail %}
    <div class="page-header">
        <h1> {{ contacto }} <small> <a href="{% url 'contacto_update' contacto.id %}" class="btn btn-default"> <span class="glyphicon glyphicon-edit"></span> Actualizar </a>  <a href="{% url 'contacto_delete' contacto.id %}" class="btn btn-danger"> <span class="glyphicon glyphicon-remove-circle"></span> Eliminar </a> </small> </h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <table class="table table-striped table-bordered">
                <caption> Información de  <strong> {{contacto}} </strong> </caption>
                <thead>
                <tr>
                    <th> Atributo </th>
                    <th> Dato </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> <b> Nombre </b>  </td>
                    <td> {{contacto.nombre}} </td>
                </tr>
                <tr>
                    <td> <b> Apellido </b>  </td>
                    <td> {{contacto.apellido}} </td>
                </tr>
                <tr>
                    <td> <b> Teléfono </b>  </td>
                    <td> {{contacto.obtener_tipo_telefono }},  {{contacto.telefono}} </td>
                </tr>
                 <tr>
                    <td> <b> Región </b>  </td>
                    <td> {{contacto.region }} </td>
                </tr>
                  <tr>
                    <td> <b> Provincia </b>  </td>
                    <td> {{contacto.provincia }} </td>
                </tr>
                  <tr>
                    <td> <b> Comuna </b>  </td>
                    <td> {{contacto.comuna }} </td>
                </tr>

                <tr>
                    <td> <b> Dirección </b>  </td>
                    <td> {{contacto.direccion}} </td>
                </tr>
                <tr>
                    <td> <b> E-mail </b>  </td>
                    <td> {{contacto.correo|default:"No menciona"}} </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-lg-6">
            <div class="page-header">
                <h4> Resumen Servicios de <small> ( {{contacto}} )</small>  </h4>
            </div>
            <div>
                <h2 class="text text-info"> Servicios Contratados: <span class="label label-info"> {{contacto.lista_pedidos|length}} </span>  </h2>
            </div>
            <div>
                <h2 class="text text-info"> Total de Ingresos: <span class="label label-warning"> $ {{contacto.total|intcomma}} </span>  </h2>
            </div>

        </div>
    </div>

    <div class="panel panel-info">
    <div class="panel panel-heading">
    <h1 class="panel-title"> <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modalNuevoPedido"> <span class="glyphicon glyphicon-plus"></span> Nuevo </a>  * Servicio de <span class="label label-danger"> {{contacto}} </span>
    </h1>
    <!-- Modal -->
    <div class="modal fade" id="modalNuevoPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Nuevo Servicio <small> ( {{contacto}} ) </small> </h4>
    </div>
    <div class="modal-body">
    <form class="form-horizontal" method="post" action="/gestion/contacto/{{contacto.id}}/nuevo/pedido/">
    {% csrf_token %}

    <!-- Text input-->


  <div class="form-group">
        <label class="col-md-4 control-label text-info" for="Servicio">Servicio</label>
        <div class="col-md-4">
        <select class="form-control" id="nombre" name="nombre" onchange="nombre" required="required" title="">
        {% for r in servicios %}
                <option value="{{ r.id }}" selected="selected">{{ r.nombre }}</option>
        {% endfor %}
    </select>
    </div>
    </div>




    <div class="form-group">
        <label class="col-md-4 control-label text-info" for="selector_region">Region</label>
        <div class="col-md-4">
        <select class="form-control" id="selector_region" name="region" onchange="regionCambio(this.value)" required="required" title="">
        <option value="">Seleccione una Region</option>
        {% for r in regiones %}
            {% if r.id == contacto.region.id %}
                <option value="{{ r.id }}" selected="selected">{{ r.nombre }}</option>
            {% else %}
                <option value="{{ r.id }}">{{ r.nombre }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div>
    </div>
    <div class="form-group"><label class="col-md-4 control-label text-info" for="selector_provincia">Provincia</label>
        <div class="col-md-4">
        <select class="form-control" id="selector_provincia" name="provincia" onchange="provinciaCambio(this.value)" required="required" title="">
        {% for r in provincias %}
            {% if r.id == contacto.provincia.id %}
                <option value="{{ r.id }}" selected="selected">{{ r.nombre }}</option>
            {% else %}
                <option value="{{ r.id }}">{{ r.nombre }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div>
    </div>
    <div class="form-group"><label class="col-md-4 control-label text-info" for="selector_comuna">Comuna</label>
        <div class="col-md-4">
        <select class="form-control" id="selector_comuna" name="comuna" required="required" title="">
        {% for r in comunas %}
            {% if r.id == contacto.comuna.id %}
                <option value="{{ r.id }}" selected="selected">{{ r.nombre }}</option>
            {% else %}
                <option value="{{ r.id }}">{{ r.nombre }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div>
    </div>




    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label text-info" for="direccion">Dirección de fallecimiento</label>
        <div class="col-md-7">
            <input id="id_direccion_destino" name="direccion_destino" type="text" placeholder="" class="form-control" required="" value="{{contacto.direccion}}">

        </div>
    </div>

      <div class="form-group">
        <label class="col-md-4 control-label text-info" for="direccion_de_velorio">Dirección de velorio</label>
        <div class="col-md-7">
            <input id="id_direccion_de_velorio" name="direccion_de_velorio" type="text" placeholder="" class="form-control" required="" value="{{contacto.direccion_de_velorio}}">

        </div>
    </div>

     <div class="form-group">
        <label class="col-md-4 control-label text-info" for="direccion_de_ceremonia">Direccion de ceremonia</label>
        <div class="col-md-7">
            <input id="id_direccion_de_ceremonia" name="direccion_de_ceremonia" type="text" placeholder="" class="form-control" required="" value="{{contacto.direccion_de_ceremonia}}">

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label text-info" for="direccion_de_sepultacion">Direccion de sepultacion</label>
        <div class="col-md-7">
            <input id="id_direccion_de_sepultacion" name="direccion_de_sepultacion" type="text" placeholder="" class="form-control" required="" value="{{contacto.direccion_de_sepultacion}}">

        </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
        <label class="col-md-4 control-label text-info" for="estado">Estado</label>
        <div class="col-md-4">
            <select id="estado" name="estado" class="form-control">
                <option value="No Pagado">No Pagado</option>
                <option value="Pagado">Pagado</option>
            </select>
        </div>
    </div>

       <div class="form-group">
        <label class="col-md-4 control-label text-info" for="precio_anexo">  Precio Anexo  </label>
        <div class="col-md-4">
            <input id="precio_anexo" name="precio_anexo" type="number" placeholder="0" class="form-control input-md" required="">
            <span class="help-block">Ingrese Precio Anexo Considerado.</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label text-info" for="costo_anexo">  Costo Anexo  </label>
        <div class="col-md-4">
            <input id="costo_anexo" name="costo_anexo" type="number" placeholder="0" class="form-control input-md" required="">
            <span class="help-block">Ingrese Costo Anexo Considerado.</span>
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label text-info" for="fecha_de_entrega">  Fecha de Entrega  </label>
        <div class="col-md-4">
            <input id="fecha_de_entrega" name="fecha_de_entrega" type="date" class="form-control input-md" required="">
            <span class="help-block">Ingrese Fecha de entrega del Servicio.</span>
        </div>
    </div>


    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            <button id="submit" type="submit" name="submit" class="btn btn-warning">Guardar</button>
        </div>

    </div>

    </form>

    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="panel-body">
        <div>
            <table class="table" id="tabla_adapted">
                <thead>
                <tr>
                    <th> # Nº Solicitud  </th>
                    <th> Tipo de Servicio Contratado</th>
                    <th> Dirección De Fallecimiento </th>
                    <th> Estado </th>
                    <th> Fecha de Entrega </th>
                    <th> Fecha de Ingreso </th>
                  
                    <th> Opciones </th>
                </tr>
                </thead>
                <tbody>
                {% for x in contacto.lista_pedidos %}
                    <tr {% if x.estado == 'Pagado' %} class="success" {% else %} class="warning" {% endif %} >
                        <td> <span class="label label-info"> {{ forloop.revcounter }} </span> </td>
                        <td>  <strong> {{ x.tipo_de_servicio }} </strong>  </td>
                        <td> {{ x.direccion_destino }}</td>
                        <td>
                            <select  disabled>
                                {% for e in x.obtener_estado_pedido %}
                                    <option value="{{e}}" {% if x.estado == e %} selected {% endif%}> {{e}} </option>
                                {% endfor %}
                            </select>
                             {% if not x.estado == "Pagado" %}
                                <a href="{% url 'pedido_cambiar_estado' x.id %}?next={{request.path}}"> <span class="glyphicon glyphicon-check"></span> Pagar </a>
                            {% endif%}
                        </td>
                        <td> {{ x.fecha_entrega|default:"" }} </td>
                        <td> {{ x.creado_en }} </td>
                     
                        <td>
                            <div class="btn-group" style="width:100px;">
                                <a type="button" href="{% url 'pedido_update' x.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar el pedido número {{forloop.counter}}"> <span class="glyphicon glyphicon-edit"></span> Editar</a>
                                <a type="button" class="btn btn-primary btn-sm" data-toggle="modal"  data-target="#modal_eliminar"> x </a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-labelledby="modal_eliminar" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="modal_eliminar">Eliminar Servicio</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-warning"> ¿Está seguro que desea eliminar el servicio <strong> {{x}} </strong>? </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'contacto_pedido_delete' x.id %}" type="button" class="btn btn-primary">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% empty %}
                    <div class="alert alert-warning"> No existen servicios realizados por <strong> {{contacto}} </strong> </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock %}