{% extends 'gestion_lena/contacto_list.html' %}
{% load humanize %}

{% block title_page %}
{{ contacto }}
{% endblock %}

{% block object_detail %}
<div class="page-header">
	<h1> {{ contacto }} <small> <a href="{% url 'contacto_update' contacto.id %}" class="btn btn-default"> Actualizar </a>  <a href="{% url 'contacto_delete' contacto.id %}" class="btn btn-danger"> Eliminar </a> </small> </h1>
</div>

<div class="row">
	<div class="col-xs-6 col-md-6 col-lg-6">
		<table class="table table-striped table-bordered">
			<caption> Información de  <strong> {{contacto}} </strong> </caption>
			<thead>
				<tr>
					<th> Atributo </th>
					<th> Dato </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <b> Nombre </b>  </td>
					<td> {{contacto.nombre}} </td>
				</tr>
				<tr>
					<td> <b> Apellido </b>  </td>
					<td> {{contacto.apellido}} </td>
				</tr>
				<tr>
					<td> <b> Teléfono </b>  </td>
					<td> {{contacto.obtener_tipo_telefono }},  {{contacto.telefono}} </td>
				</tr>
				<tr>
					<td> <b> Dirección </b>  </td>
					<td> {{contacto.direccion}} </td>
				</tr>
				<tr>
					<td> <b> E-mail </b>  </td>
					<td> {{contacto.correo|default:"No menciona"}} </td>
				</tr>
			</tbody>	

		</table>		
	</div>
	<div class="col-xs-6 col-md-6 col-lg-6">
	<div class="page-header">
		<h4> Resumen Pedidos de <small> ( {{contacto}} )</small>  </h4>
	</div>
	<div>
		<h1 class="text text-info"> Pedidos: <span class="label label-info"> {{contacto.lista_pedidos|length}} </span>  </h1>
	</div>
	<div>
		<h1 class="text text-info"> Total: <span class="label label-warning"> $ {{contacto.total|intcomma}} </span>  </h1>
	</div>			

	</div>
</div>

<div class="panel panel-info">
	<div class="panel panel-heading">  
		<h1 class="panel-title"> <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modalNuevoPedido"> Nuevo </a>  * Pedidos de <span class="label label-danger"> {{contacto}} </span>
		</h1>
		<!-- Modal -->
		<div class="modal fade" id="modalNuevoPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Nuevo Pedido <small> ( {{contacto}} ) </small> </h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" method="post" action="/gestion/contacto/{{contacto.id}}/nuevo/pedido/">
						{% csrf_token %}

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label text-info" for="cantidad">  Cantidad  </label>  
								<div class="col-md-4">
									<input id="cantidad" name="cantidad" type="number" placeholder="5" class="form-control input-md" required="">
									<span class="help-block">Ingrese la cantidad de leña del pedido (metros).</span>  
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label text-info" for="dirreccion">Dirección Despacho</label>  
								<div class="col-md-7">
									<input id="dirreccion" name="direccion_destino" type="text" placeholder="" class="form-control" required="" value="{{contacto.direccion}}">

								</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group">
								<label class="col-md-4 control-label text-info" for="estado">Estado</label>
								<div class="col-md-4">
									<select id="estado" name="estado" class="form-control">
										<option value="En Proceso">En Proceso</option>
										<option value="Entregado">Entregado</option>
									</select>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label text-info" for="cantidad">  Precio Unitario  </label>  
								<div class="col-md-4">
									<input id="valor_unitario" name="valor_unitario" type="number" class="form-control input-md" required="">
									<span class="help-block">Ingrese el precio de venta del metro de leña.</span>  
								</div>
							</div>


							<!-- Button -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="submit"></label>
								<div class="col-md-4">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

									<button id="submit" type="submit" name="submit" class="btn btn-warning">Guardar</button>
								</div>

							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div style="height: 300px; overflow-y: scroll;">
			<table class="table">
				<thead>
					<tr>
						<th> # Nº Solicitud  </th>
						<th> Cantidad </th>
						<th> Dirección Despacho </th>
						<th> Estado </th>
						<th> Fecha Entrega </th>
						<th> Fecha Solicitud </th>
						<th> Precio Unitario
						</th>
						<th> Opciones </th>
					</tr>
				</thead>
				<tbody>
					{% for x in contacto.lista_pedidos %}
					<tr {% if x.estado == 'Entregado' %} class="success" {% else %} class="warning" {% endif %} >
						<td> <span class="label label-info"> {{ forloop.revcounter }} </span> </td>
						<td>  <strong> {{ x.cantidad }} metro{{x.cantidad|pluralize}} </strong>  </td>
						<td> {{ x.direccion_destino }}</td>
						<td>

							{% if not x.estado == "Entregado" %}
							<a href="{% url 'pedido_cambiar_estado' x.id %}"> Cambiar</a> 
							{% endif%}
							<select  {% if x.estado == 'Entregado' %} disabled {% endif %}>
								{% for e in x.obtener_estado_pedido %}
								<option value="{{e}}" {% if x.estado == e %} selected {% endif%}> {{e}} </option>
								{% endfor %}
							</select>

						</td>
						<td> {{ x.fecha_entrega|default:"" }} </td>
						<td> {{ x.creado_en }} </td>
						<td> 
							<input id="valor_unitario_{{x.id}}" class="valor_unitario form-control" type="number" value="{{ x.valor_unitario|default:"" }}" name="valor_unitario_{{x.id}}" disabled>

						</td>
						<td>
							<div class="btn-group" style="width:100px;">
								<a type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar el pedido número {{forloop.counter}}">Editar</a>
								<a type="button" class="btn btn-primary btn-sm" data-toggle="modal"  data-target="#modal_eliminar">x </a>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-labelledby="modal_eliminar" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title" id="modal_eliminar">Eliminar Pedido <span class="label label-info"> {{x}} </span> </h4>
										</div>
										<div class="modal-body">
											<div class="alert alert-warning"> Está seguro que desea eliminar el pedido <strong> {{x}} </strong>? </div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											<a href="{% url 'contacto_pedido_delete' x.id %}" type="button" class="btn btn-primary">Eliminar</a>
										</div>
									</div>
								</div>
							</div>

						</td>
					</tr>
					{% empty %}
					<div class="alert alert-warning"> No existen pedidos realizados por <strong> {{contacto}} </strong> </div>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}