{% extends 'gestion_lena/base.html' %}
{% load humanize %}

 {% block content %}

 <div class="page-header">
 	<h1> Cuenta, <small> {{ fecha_inicial|date:"D d M Y" }} al {{ fecha_final|date:"D d M Y" }} </small> </h1> 
 	<a href="{% url 'form_cuenta_t' %}" class="btn btn-warning"> Volver</a>
 </div>

 <!--<table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Descripción </th>
 			<th> Egreso </th>
 			<th> Ingreso </th>
 			<th> Saldo </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in cuentas %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 			<td>  {% if c.pedido %} Venta de Servicio a <strong> {{ c.pedido.contacto }} </strong> {% elif c.gasto %} Gasto en {{c.gasto.tipo_gasto}} <small> << {{c.gasto.comentario}} >> </small> {% elif c.sueldo %} Pago Sueldo a {{ c.sueldo.trabajador}} {% else %}  {{c.descripcion}}  {% endif %} </td>
 			<td> $ {{ c.cargo|intcomma }} </td>
 			<td> $ {{ c.abono|intcomma }} </td>
 			<td> $ {{ c.saldo|intcomma }} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de ventas o gastos en este rango de fechas. </div>
 		{% endfor %}	
 	</tbody>
 </table>

 <div class="text-center">
 	<h2> Total: $ {{ total|intcomma }} </h2>

 </div> -->
 <h1 class="text text-info"><span class="label label-info"> Servicios Realizados </span></h1>

 <table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Cliente </th>
 			<th> Tipo de Servicio </th>
 			<th> Ingreso </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in pedidos %}
 		<tr>
 			<td> {{ c.fecha_entrega }} </td>
 			<td> <a href="{% url 'pedido_detail' c.id %}"> {{ c.contacto }} </a> </td>
 			<td> {{ c.tipo_de_servicio }} </td>
 			<td> $ {{ c.total|intcomma}} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de sueldos en este rango de fechas. </div>
 		{% endfor %}	
</tbody>


 		<!--<tbody>
 		<th> 
<td>Atributo</td>
 		<td>Atributo</td>
 		 </th>

 	</tbody> -->
 </table>
 <div class="text-center">
 	<h2> Total Ingresos del Periodo: $ {{ total_ingresos|intcomma }} </h2>
 </div>




<div class="col-md-6">
<h1 class="text text-info"><span class="label label-success"> Sueldos Pagados </span></h1>
  <table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Trabajador </th>
 			<th> Egreso </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in sueldos %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 			<td> <a href="{% url 'sueldo_detail' c.id %}"> {{ c.trabajador }}</a> </td>
 			<td> $ {{ c.cantidad|intcomma}} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de sueldos en este rango de fechas. </div>
 		{% endfor %}	
 	</tbody>
 </table>

</div>




  <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
<h1 class="text text-info"><span class="label label-warning"> Gastos Anexos Involucrados </span></h1>

  <table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Tipo de Gasto </th>
 			<th> Egreso </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in gastos %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 		 <td> <a href="{% url 'gasto_detail' c.id %}"> {{ c.tipo_gasto }}</a> </td>
 			<td> $ {{ c.valor|intcomma}} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de gastos en este rango de fechas. </div>
 		{% endfor %}	
 	</tbody>
 </table>
 </div>
  </div>

<div class="page-header">
 <div class="text-center">
 	<h2> Total Egresos del Periodo: $ {{ total_egresos|intcomma }} </h2>
 </div>
 </div>
  <div class="text-center">
 	<h1> Total Ganancias del Periodo: $ {{ total|intcomma }} </h1>
 </div>

 {% endblock %}