{% extends 'gestion_lena/base.html' %}
{% load staticfiles %}
{% load humanize %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
 {% block content %}




 <div class="page-header">
 	<h1> Estado de Cuenta y Análisis de: <small> {{ fecha_inicial|date:"D d M Y" }} al {{ fecha_final|date:"D d M Y" }} </small> </h1> 
 	<a href="{% url 'form_cuenta_t' %}" class="btn btn-warning"> Volver</a>
 </div>

 <!--<table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Descripción </th>
 			<th> Egreso </th>
 			<th> Ingreso </th>
 			<th> Saldo </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in cuentas %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 			<td>  {% if c.pedido %} Venta de Servicio a <strong> {{ c.pedido.contacto }} </strong> {% elif c.gasto %} Gasto en {{c.gasto.tipo_gasto}} <small> << {{c.gasto.comentario}} >> </small> {% elif c.sueldo %} Pago Sueldo a {{ c.sueldo.trabajador}} {% else %}  {{c.descripcion}}  {% endif %} </td>
 			<td> $ {{ c.cargo|intcomma }} </td>
 			<td> $ {{ c.abono|intcomma }} </td>
 			<td> $ {{ c.saldo|intcomma }} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de ventas o gastos en este rango de fechas. </div>
 		{% endfor %}	
 	</tbody>
 </table>

 <div class="text-center">
 	<h2> Total: $ {{ total|intcomma }} </h2>

 </div> -->
 



  <div class="col-xs-12 col-md-12 col-lg-12">
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingwwTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsewwTwo" aria-expanded="false" aria-controls="collapsewwTwo">
                                       <h2 class="text-center"> <span class="label label-info"> Servicios Realizados </span>
                                       </h2>
                                       <h6 class="text-center"> Click para ver el detalle </h6>
                                    </a>
                                </h4>

                            </div>
                            <div id="collapsewwTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingwwTwo">
                                <div class="panel-body">
<div class="col-xs-12 col-md-12 col-lg-12">
 <table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Cliente </th>
 			<th> Tipo de Servicio </th>
 			<th> Utilidad </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in pedidos %}
 		<tr>
 			<td> {{ c.fecha_entrega }} </td>
 			<td> <a href="{% url 'pedido_detail' c.id %}"> {{ c.contacto }} </a> </td>
 			<td> {{ c.tipo_de_servicio }} </td>
 			<td align=right> $ {{ c.total|intcomma}} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de servicios en este rango de fechas. </div>
 		{% endfor %}	
</tbody>


 		<!--<tbody>
 		<th> 
<td>Atributo</td>
 		<td>Atributo</td>
 		 </th>

 	</tbody> -->
 </table>

                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
               </div>








 <div class="text-center">
 	<h2> Total Utilidades por Servicios: $ {{ total_ingresos|intcomma }} </h2>
 </div>











  <div class="col-lg-12">
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingwTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsewTwo" aria-expanded="false" aria-controls="collapsewTwo">
                                       <h2 class="text-center"> <span class="label label-success"> Gastos Considerados  </span>
                                       </h2>
                                       <h6 class="text-center"> Click para ver el detalle </h6>
                                    </a>
                                </h4>

                            </div>
                            <div id="collapsewTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingwTwo">
                                <div class="panel-body">




<div class=" col-lg-6">
<h1 class="text text-info"><span class="label label-success"> Sueldos Pagados </span></h1>
  <table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Trabajador </th>
 			<th> Egreso </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in sueldos %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 			<td> <a href="{% url 'sueldo_detail' c.id %}"> {{ c.trabajador }}</a> </td>
 			<td align=right> $ {{ c.cantidad|intcomma}} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de sueldos en este rango de fechas. </div>
 		{% endfor %}	
 	</tbody>
 </table>

</div>





  <div class="row">
        <div class=" col-lg-6">
<h1 class="text text-info"><span class="label label-warning"> Gastos Anexos </span></h1>

  <table id="tabla_adapted" class="table table-bordered table-striped">
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Tipo de Gasto </th>
 			<th> Egreso </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in gastos %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 		 <td> <a href="{% url 'gasto_detail' c.id %}"> {{ c.tipo_gasto }}</a> </td>
 			<td align=right> $ {{ c.valor|intcomma}} </td>
 		</tr>
 		{% empty %}
 		<div class="alert alert-warning"> No se encontraron registros de gastos en este rango de fechas. </div>
 		{% endfor %}	
 	</tbody>
 </table>
 </div>
  </div>

                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>


<div class="page-header">
 <div class="text-center">
 	<h2> Total Egresos: $ {{ total_egresos|intcomma }} </h2>
 </div>
 </div>
<div class="text-center">
 	<h1> Total Ganancias: $ {{ total|intcomma }} </h1>
 </div>


 <div class=" col-lg-12">
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                       <h3 class="text-center"> <span class="label label-success"> Tendencia Servicios de la provincia de Ñuble en el periodo</span>
                                       </h3>
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                             
<canvas id="chart-area" width="300" height="300"></canvas>


<div class="col-md-4">
             <table id="tabla_adapted" class="table cellpadding="2" table-bordered table-striped">
               
                <thead>
                <tr>
                    <th> <h4> Comuna  </h4></th>
                    <th> <h4>Cantidad de Servicios </h4></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>  <b>Chillán  </b>  </td>
                    <td> {{cant_ped_chillan}} </td>
                </tr>
                <tr>
                    <td> <b> Chillán Viejo </b>  </td>
                    <td> {{cant_ped_chillan_viejo}} </td>
                </tr>
                <tr>
                    <td> <b> Cobquecura </b>  </td>
                    <td> {{cant_ped_cobquecura }}</td>
                </tr>
                 <tr>
                    <td> <b> Coelemu </b>  </td>
                    <td> {{cant_ped_coelemu }} </td>
                </tr>
                  <tr>
                    <td> <b> Coihueco </b>  </td>
                    <td> {{cant_ped_coihueco }} </td>
                </tr>
                  <tr>
                 
                    <td> <b> El Carmen </b>  </td>
                    <td> {{cant_ped_elcarmen  }} </td>
                </tr>

                <tr>
                    <td> <b> Ninhue </b>  </td>
                    <td> {{cant_ped_ninhue}} </td>
                </tr>
                <tr>
                    <td> <b> Ñiquen </b>  </td>
                    <td> {{cant_ped_niquen}} </td>
                </tr>
                 <tr>
                    <td> <b> Pemuco </b>  </td>
                    <td> {{cant_ped_pemuco }} </td>
                </tr>
                 <tr>
                    <td> <b> Pinto </b>  </td>
                    <td> {{cant_ped_pinto}} </td>
                </tr>
        
                </tbody>

            </table>
        </div>







        <div class="col-md-4 ">
             <table id="tabla_adapted" class="table cellpadding="2" table-bordered table-striped">
               
                <thead>
                <tr>
                    <th> <h4> Comuna  </h4></th>
                    <th> <h4>Cantidad de Servicios </h4></th>
                </tr>
                </thead>
                <tbody>
                
                 <tr>
                    <td> <b> Portezuelo </b>  </td>
                    <td> {{cant_ped_portezuelo}} </td>
                </tr>
                 <tr>
                    <td> <b> Quillón </b>  </td>
                    <td> {{cant_ped_quillon}} </td>
                </tr>
                 <tr>
                    <td> <b> Quirihue</b>  </td>
                    <td> {{cant_ped_quirihue}} </td>
                </tr>
                 <tr>
                    <td> <b> Ránquil </b>  </td>
                    <td> {{cant_ped_ranquil}} </td>
                </tr>
                 <tr>
                    <td> <b> San Carlos </b>  </td>
                    <td> {{cant_ped_sancarlos}} </td>
                </tr>
                 <tr>
                    <td> <b> San Fabián</b>  </td>
                    <td> {{cant_ped_sanfabian}} </td>
                </tr>
                 <tr>
                    <td> <b> San Ignacio </b>  </td>
                    <td> {{cant_ped_sanignacio}} </td>
                </tr>
                 <tr>
                    <td> <b> San Nicolás </b>  </td>
                    <td> {{cant_ped_sannicolas}} </td>
                </tr>
                 <tr>
                    <td> <b> Trehuaco </b>  </td>
                    <td> {{cant_ped_treguaco}} </td>
                </tr>
                </tbody>

            </table>
        </div>










                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>









 <div class=" col-md-12 ">
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       <h2 class="text-center"> <span class="label label-success"> Resumen Flujos del Periodo  </span>
                                       </h2>
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
<canvas class="center" id="chart-area3" width="1000" height="400"></canvas>

                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>









 <div class="row">
<div class="col-md-6">
 
 <script src="{% static 'gestion_lena/js/Chart.js' %}" ></script>
  

<div id="canvas-holder">


</div>

<script>

var pieData = [{value: {{cant_ped_chillan}},color:"#0b82e7",highlight: "#0c62ab",label: "Chillán"},
				{
					value: {{cant_ped_coelemu}},
					color: "#e3e860",
					highlight: "#a9ad47",
					label: "Coelemu"
				},
				{
					value: {{cant_ped_chillan_viejo}},
					color: "#eb5d82",
					highlight: "#b74865",
					label: "Chillán Viejo"
				},
				{
					value: {{cant_ped_cobquecura}},
					color: "#5ae85a",
					highlight: "#42a642",
					label: "Cobquecura"
				},
				{
					value: {{cant_ped_coihueco}},
					color: "#e965db",
					highlight: "#a6429b",
					label: "Coihueco"
				},
				{
					value: {{cant_ped_elcarmen}},
					color: "#339933",
					highlight: "#216221",
					label: "El Carmen"
				},
				{
					value: {{cant_ped_ninhue}},
					color: "#FFFFCC",
					highlight: "#CCCCA3",
					label: "Ninhue"
				},
				{
					value: {{cant_ped_niquen}},
					color: "#B8704D",
					highlight: "#935A3E",
					label: "Ñiquen"
				},
				{
					value: {{cant_ped_pemuco}},
					color: "#669999",
					highlight: "#476B6B",
					label: "Pemuco"
				},
				{
					value: {{cant_ped_pinto}},
					color: "#99CC00",
					highlight: "#7AA300",
					label: "Pinto"
				},
				{
					value: {{cant_ped_portezuelo}},
					color: "#CCCCFF",
					highlight: "#A3A3CC",
					label: "Portezuelo"
				},
				{
					value: {{cant_ped_quillon}},
					color: "#CCFFCC",
					highlight: "#A5C1A5",
					label: "Quillón"
				},
				{
					value: {{cant_ped_quirihue}},
					color: "#000099",
					highlight: "#00005C",
					label: "Quirihue"
				},
				{
					value: {{cant_ped_ranquil}},
					color: "#FFCCFF",
					highlight: "#B28FB2",
					label: "Ránquil"
				},
				{
					value: {{cant_ped_sancarlos}},
					color: "#CC3300",
					highlight: "#8F2400",
					label: "San Carlos"
				},
				{
					value: {{cant_ped_sanfabian}},
					color: "#6600CC",
					highlight: "#5C00B8",
					label: "San Fabián"
				},
				{
					value: {{cant_ped_sanignacio}},
					color: "#FF0000",
					highlight: "#B20000",
					label: "San Ignacio"
				},
				{
					value: {{cant_ped_sannicolas}},
					color: "#996633",
					highlight: "#6B4724",
					label: "San Nicolas"
				},
				{
					value: {{cant_ped_treguaco}},
					color: "#00FFFF",
					highlight: "#00CCCC",
					label: "Treguaco"
				}

			];


	var barChartData = {
		labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre", "Octubre", "Noviembre","Diciembre"],
		datasets : [
			{
				fillColor : "#6b9dfa",
				strokeColor : "#ffffff",
				highlightFill: "#1864f2",
				highlightStroke: "#ffffff",

				data : [{{total_ingreso_enero}},{{total_ingreso_febrero}},{{total_ingreso_marzo}},{{total_ingreso_abril}},{{total_ingreso_mayo}},{{total_ingreso_junio}},{{total_ingreso_julio}},{{total_ingreso_agosto}},{{total_ingreso_septiembre}},{{total_ingreso_octubre}},,{{total_ingreso_noviembre}},{{total_ingreso_diciembre}}]  
			},
			{
				fillColor : "#e9e225",
				strokeColor : "#ffffff",
				highlightFill : "#ee7f49",
				highlightStroke : "#ffffff",
				data : [{{total_egresos_enero}},{{total_egresos_febrero}},{{total_egresos_marzo}},{{total_egresos_abril}},{{total_egresos_mayo}},{{total_egresos_junio}},{{total_egresos_julio}},{{total_egresos_agosto}},{{total_egresos_septiembre}},{{total_egresos_octubre}},{{total_egresos_noviembre}},{{total_egresos_diciembre}}]
			}
		]

	}	
var ctx = document.getElementById("chart-area").getContext("2d");
var ctx3 = document.getElementById("chart-area3").getContext("2d");


window.myPie = new Chart(ctx).Pie(pieData);					
window.myPie = new Chart(ctx3).Bar(barChartData, {responsive:false});

</script>
 </div>
 </div>
</body>
</html>


 {% endblock %}