{% extends 'gestion_lena/gasto_list.html' %}
{% load humanize %}

{% block title_page %}
{{ gasto }}
{% endblock %}

{% block object_detail %}
<div class="page-header">
<h1> {{ gasto }}  <small> <a href="{% url 'gasto_update' gasto.id %}" class="btn btn-default"> <span class="glyphicon glyphicon-edit"></span> Actualizar </a>  <a href="{% url 'gasto_delete' gasto.id %}" class="btn btn-danger"> <span class="glyphicon glyphicon-remove-circle"></span> Eliminar </a> </small> </h1>
</div>

<div class="well text-center">
    <h2> <span class="text text-info">Correlativo:  </span> {{ gasto.id }} </h2>
    <h2> <span class="text text-info">Tipo Gasto:  </span> {{ gasto.tipo_gasto }} </h2>
    <h2> <span class="text text-info">Fecha:  </span> {{ gasto.fecha }} </h2>
    <h3> <span class="text text-info"> Total Gasto: </span> <span class="label label-info">  $ {{ gasto.valor|intcomma }} </span></h3>
</div>

<h3> Comentario: </h3>
<blockquote>
    <p> {{ gasto.comentario|default:"Sin comentarios" }} </p>
</blockquote>

{% endblock %}