{% extends 'gestion_lena/gasto_list.html' %}
{% load humanize %}

{% block title_page %}
{{ object }}
{% endblock %}

{% block object_detail %}
<div class="page-header">
<h1> Huella de Carbono {{ object.id }},    <small> {{ object.creado_en }} <a href="{% url 'huella_carbono_delete' object.id %}" class="btn btn-danger"> <span class="glyphicon glyphicon-remove-circle"></span> Eliminar </a> </small> </h1>
</div>

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Kilometros </th>
                <td> {{ object.kilometro }} </td>
            </tr>
              <tr>
                <th>Kilowatts </th>
                <td> {{ object.kilowatt }} </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th> Huella de Carbono Transporte </th>
                <td> {{ object.calcular_km }}  kco2 </td>
            </tr>
            <tr>
                <th> Huella de Carbono Electricidad </th>
                <td> {{ object.calcular_energia }} kco2 </td>
            </tr>
            <tr>
                <th> Total </th>
                <th> {{ object.total }} kco2 </th>
            </tr>
        </tbody>
    </table>

{% endblock %}