{% extends 'gestion_lena/base.html' %}
{% load humanize %}

 {% block content %}

 <div class="page-header">
 	<h1> Estado de Cuenta <small> Gastos y Ventas </small> </h1> 
 </div>

 <table class="table table-bordered table-striped">
 	<caption> Resumen del estado de su cuenta. </caption>
 	<thead>	
 		<tr>
 			<th> Fecha Transacción </th>
 			<th> Descripción </th>
 			<th> Cargo </th>
 			<th> Abonwwo </th>
 			<th> Saldo </th>
 		</tr>
 	</thead>
 	<tbody>
 		{% for c in cuentas %}
 		<tr>
 			<td> {{ c.fecha }} </td>
 			<td>  {% if c.pedido %} Venta de Servicio Fúnebre a  <strong> {{ c.pedido.contacto }} </strong> {% elif c.gasto %} Gasto en {{c.gasto.tipo_gasto}} <small> << {{c.gasto.comentario}} >> </small>. {% else %}  {{c.descripcion}}  {% endif %} </td>
 			<td> $ {{ c.cargo|intcomma }} </td>
 			<td> $ {{ c.abono|intcomma }} </td>
 			<td> $ {{ c.saldo|intcomma }} </td>
 		</tr>
 		{% endfor %}	
 	</tbody>
 </table>

 <div class="text-center">
 	<h2> Total: $ {{ total|intcomma }} </h2>
 </div>

 {% endblock %}