{% extends 'gestion_lena/object_list.html' %}

{% block title_panel %}
 <strong> Tipos de Servicios Disponibles</strong> <span class="badge"> {{ total_objects }} </span>
<a href="{% url 'servicio_create' %}" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-plus"></span>  Añadir Nuevo Tipo de Servicio</a>
{% endblock %}

{% block alert_empty_message %}
No se encontraron tipos de servicios registrados..
{% endblock %}

{% block  placeholder_buscar %}
Buscar tipo de servicio...
{% endblock %}