{% extends 'gestion_lena/servicio_list.html' %}
{% load humanize %}

{% block title_page %}
{{ servicio }}
{% endblock %}

{% block object_detail %}
<div class="page-header">
<h1> {{ servicio }}  <small> <a href="{% url 'servicio_update' servicio.id %}" class="btn btn-default"> <span class="glyphicon glyphicon-edit"></span> Actualizar </a>  <a href="{% url 'servicio_delete' servicio.id %}" class="btn btn-danger"> <span class="glyphicon glyphicon-remove-circle"></span> Eliminar </a> </small> </h1>
</div>

<div class="well text-center">
    <h2> <span class="text text-info">Publicado en Página Web:  </span> {{ servicio.publicar }} </h2>
    <h2> <span class="text text-info">Nombre de Tipo de Servicio:  </span> {{ servicio.nombre }} </h2>
    <h2> <span class="text text-info">Costo de Servicio:  </span> ${{ servicio.costo_de_servicio|intcomma }} </h2>
    <h1> <span class="text text-info"> Precio de Venta: </span> <span class="label label-info">  $ {{ servicio.precio_de_venta|intcomma }} </span></h1>
    {% if servicio.imagen_pr %}
     <img src="{{servicio.imagen_pr.url }}" height="200" width="250" border="1"/>
     {% endif %}
    <h3> Detalles del Tipo de Servicio: </span> 
<blockquote>
    <p> {{ servicio.detalles_del_servicio|default:"Sin comentarios" }} </p>
</blockquote>
</div>








{% endblock %}